

.app-container{
  height : 100vh;
  max-width : 600px; 
  margin : auto ;
  display : flex;
  flex-direction : column;
}
.welcome-message{
  color : rgb(120, 120, 120);
  text-align: center;
}
.loading-spinner{
  height : 40px;
  margin : -15px;
} 